html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b,
i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video,
details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    line-height:1;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}
body{

}
header{
    background: #80bfff;
}
.container{
    margin: 0 auto;
    text-align: center;
    width: 1200px;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #fff;
}
.header_logo{
    display: flex;
    justify-content: space-between;
}
.header_logo img{
    width: 60px;
    height: 50px;
}
header .container h1{
    font-weight: 700;
    font-size: 39px;
    text-transform: uppercase;
}
header .container p{
    font-weight: 700;
    margin-top: 50px;
    line-height: normal;
    font-size: 39px;
    text-transform: uppercase;
}
.container .start{
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 50px;
}
.container .start b{
    font-weight: 700;
}
.center{
    margin: 100px auto;
    min-width: 320px;
    max-width: 1200px;
    width: 100%;
}
.info_container{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 950px;
    background: #191D2C;
    border-radius: 70px;
    color: #fff;
    padding: 15px 60px 35px 60px;
}
.info_container .registration{
    background: #fff;
    border-radius: 70px;
    max-width: 500px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    padding: 20px;
}
.info_container .timer_start{
    font-size: 18px;
    text-align: center;
    width: 450px;
    margin-bottom: 20px;
}
.info_container .timer_start b{
    font-weight: 700;
}
.info_container .registration a:link, .info_container .registration a:visited{
    text-decoration: none;
    color: #191D2C;
    font-weight: 700;
}
.info_container .registration span{
    color: grey;
    font-weight: 300;
    text-transform: lowercase;
    font-size: 18px;
}
.timer-text{
    font-size: 16px;
    width: 450px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 10px;
}
.timer-down{
    margin-top: 40px;
    margin-left: 10px;
}
.about_ai{
    text-align: center;
    width: 700px;
    margin: 0 auto;
}
.about_ai h1{
    text-transform: uppercase;
    color: #191D2C;
    font-size: 34px;
    font-weight: 700;
    margin-top: 50px;
}
.about_ai p{
    font-size: 20px;
    margin-top: 20px;
    line-height: normal;
}
