html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b,
i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video,
details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    line-height:1;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}
body{

}
header{
    background: #80bfff;
}
.container {
    margin: 0 auto;
    text-align: center;
    width: 1200px;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #fff;
}
.header_logo{
    display: flex;
    justify-content: space-between;
}
.header_logo img{
    width: 60px;
    height: 50px;
}
header .container h1{
    font-weight: 700;
    font-size: 39px;
    text-transform: uppercase;
}
header .container p{
    font-weight: 700;
    margin-top: 50px;
    line-height: normal;
    font-size: 39px;
    text-transform: uppercase;
}
.container .start{
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 50px;
}
.container .start b{
    font-weight: 700;
}
.container .btn_form{
    border-radius: 20px;
    padding: 10px 10px;
    background: #fff;
    margin-top:50px;
}